@use "variables" as *;

header {
    height: 75px;
    border-bottom: 2px solid #e8e2d6;
    display: flex;
    align-items: center;
}

.logo {
    width: 86px;
    display: inline-block;
    img {
        display: inline-block;
        vertical-align: middle;
    }
    .logo-text {
        display: inline-block;
        width: 10%;
        vertical-align: middle;
        margin-left: 10px;
        .logo-osf {
            color: #011847;
            font-weight: 900;
            font-size: 32px;
            text-transform: uppercase;
            letter-spacing: 6.33px;
        }
        .logo-academy {
            color: $details-color;
            font-size: 18px;
        }
    }
}

nav {
    display: inline-block;
    margin-left: 190px;
    ul {
        li {
            display: inline;
            padding: 10px 10px 30px 10px;
            box-sizing: border-box;
            margin-left: 15px;
            color: $dark-font-color;
            font-weight: 400;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                background-color: $base-color;
                color: #ffffff;
                border-bottom: 3px solid $details-color;
            }
        }
        .lang {
            color: $light-font-color;
            margin-left: 20px;
        }
    }
}

.icons-menu {
    display: inline-block;
    position: relative;

    .fas, .far {
        margin-left: 35px;
    }

    .count {
        position: absolute;
        background-color: #ffffff;
        top: 0px;
        display: block;
        width: 10px;
        height: 10px;
        text-align: center;
        color: $details-color;
        border: 2px solid $details-color;
        border-radius: 100px;
        font-size: 10px;
    }
    .count.wishlist {
        left: 165px;
    }
    .count.products {
        left: 220px;
    }
}