@use "variables" as *;

html, body, div, span, 
h1, h2, h3, h4, h5, h6, p, blockquote, 
a, address, img, ol, ul, li,
fieldset, form, label, legend,
table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}
body {
    font-family: "Lato";
    font-size: 14px;
    line-height: 1;
}
ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $dark-font-color;
}

.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1160px;
    padding-right: 10px;
    padding-left: 10px;
}

.bottom {
    align-items: flex-end;
}