@use "variables" as *;

#mega-menu {
  @include dropdown;
  box-sizing: border-box;
  padding: 55px 0px 55px 0px;
  left: 0px;
  right: 0px;
  li,
  a {
    color: #ffffff;
    padding-bottom: 15px;
  }
  h2 {
    color: $light-font-color;
  }
}
