@use "variables" as *;

#popular {
  background-color: $base-color;
  text-align: center;
  padding: 80px 0px 60px 0px;
}

h3 {
  display: flex;
  align-items: center;
  color: #ffffff;

  &::after,
  &::before {
    content: "";
    border-bottom: 1px solid #ffffff;
    flex: 1;
  }
  &::after {
    margin-left: 50px;
  }
  &::before {
    margin-right: 50px;
  }
}

#load-more-button {
  color: #fff;
  padding-left: 90px;
  padding-right: 90px;
  border: 1px solid #fff;
  &::after {
    content: "\21bb";
    margin-left: 20px;
    font-size: 20px;
  }
}

.products-container {
  padding: 10px 0px 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .product-tile {
    margin-top: 30px;
  }
}
